.nav {
  width: 100%;
  height: 100px;
  background-color: blue;
}




nav ul li a:hover {
  color: #fff;
  background-color: #f37121;
}


body nav ul li a {
  text-decoration: none;
  margin: 0px 1px;
  padding: 5px 0px;
  color: navy;
  border-radius: 8px;
  
}

nav ul li a:hover {
  color: #ffe;

}

.navbar {
  background-color: #393A3F; 
  position: fixed;
  width: 100%; 
  z-index: 2;
}

.navbar-nav > li{
  list-style: none;
  }


#logo {
margin-top: -8;
height: 45;
cursor: pointer;
}

body.x1{
background-image: url("https://asset-a.grid.id/crop/0x0:0x0/700x465/photo/2019/10/13/2790736395.jpg");
height: 1000px;
}

body.x2{
font-family: sans-serif;
}
div.x1{
border: 2px solid black;
border-radius: 8px;
padding: 5px;
margin-top: 20px;
margin-left: 30%;
margin-right: 30%;
background-color: #82EFAF;
font-size: 20px;
animation: fadeIn;
animation-duration: 1.5s;
}

div.x2{
border: 2px solid black;
border-radius: 8px;
padding: 5px;
margin-top: 20px;
margin-left: 30%;
margin-right: 30%;
background-color: #82EFAF;
font-size: 20px;
animation: fadeIn;
animation-duration: 1.5s;
}

h1{
text-align: center;
font: sans-serif;
}

h2{
font-weight: bold;
text-align: center;
font: sans-serif;
}
p{
padding-left: 30px;
text-align: left;
font: sans-serif;
}

li{
padding-left: 30px;
list-style-type: circle;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
width: 100%;
height: 100vh;
background-color: rgb(12, 14, 12);
display: flex;
}

button{
background-color: lime;
margin-left: 40px;
padding: 5px 15px;
border-radius: 7px;
border: 1px solid white;
box-shadow: 0 0 5px 5px lime;
font-family: sans-serif;
font-weight: 700;
font-size: 20px;
transition: all 0.3s ease-in-out;
}

button:hover{
letter-spacing: 0.25em;
transform: scale(1.025);
}
